/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

/*////////// Global Styles //////////*/

body {
	background: #F6F0EE;
	font-size: 100%;
	font-family: 'Libre Baskerville', 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
.header {
	color: #9caca6;
	/*border: solid;*/
	line-height: 10px;
	font-size: 25pt;
	font-weight: bold;
}
.header level-1 {
	/*font-size: 100pt;*/
}

#photo-block {
	border-style: solid;
	border-width: thick;;
	border-color: #9caca6;
}

.col-1 {
	float: left;
	width: 24%;
	background-color: white;
	border-style: solid;
	border-width: medium;
	border-color: #9caca6;
	z-index: 1;
}
